body aside{
	border-radius: 5px;
	background-color:#585858;
	color: white;
    float: left;
    width:150px;
    height:100%;
}

body aside p {
	text-decoration: underline;
}

body ul {
	list-style-type: none;
}

body ul .botones{
	margin:5%;
	top:5%;

}
body ul .botones li input{
	margin: 5%;
	border-radius: 2%;
	background:#585858;
	cursor: pointer;
	border:1px solid #585858 ;
	text-decoration: none;
	color:white;
}

body ul .botones li input:hover{
	background: #868686;
}

.main .articles {
	width:78.5%; /* 80% - 1.5% del margin-right del aside */
	box-sizing:border-box; /*Esta propiedad indica que el ancho de la section (width) ya no toma mas en
cuenta unicamente al ancho del CONTENIDO de la misma sino que ahora tambien toma en cuenta el padding 
y el border (el margin no porque es externo), esto permite definir un width fijo (ej 30%) y al agregar 
padding y border no va a afectar al width ya que "no se suma" al width sino que gracias a esta propiedad ahora
es parte del mismo. De la otra forma habria que modificar el width al agregar un padding de 2%.. 2% de
cada lado por lo tanto habria que restarle 4% al width para que retenga el mismo ancho.*/
	margin-bottom:20px;
	padding:1%;
	float:left;
	background:#fff;
}
