*{
	font-family:arial;
	margin:0;
	padding:0;
}

body{
	background:#e6e6e6;
	min-width:800px;
}

header, .main, footer {
	width:95%;
	margin:15px auto;
}

.nivel1 {
	height:35px/**//**/;
	display:block;
	clear:right;
	margin-bottom:5px;
}

.nivel1 .logo img {
	width:auto;
	height:35px/**/;
	float:left;
	margin-right:0.5%;
}

.nivel1 .tituloDePagina p {
	font-size:30px;
	font-weight:bold;
	color:#bd0000;
	float:left;
	margin-right:4.5%;
}

.nivel1 .slogan p {
	font-size:20px;
	color:#585858;
	padding-top:10px;
}

.nivel2{
	height:35px/**/;
	font-size:15px;
}

.nivel2 nav {
	width:56%;
	height:35px/**/;
	box-sizing:border-box;
/*	background:#528fd5; */
	background:#bd0000;
	float:left;
	margin-right:0.5%;
}

.nivel2 nav ul {
	width:100%; /*similar al padre (nav)*/
	list-style:none;
	float:left;	
}

.nivel2 nav ul li {
	float:left;
	width: 25%;
}

.nivel2 nav ul li a {
	height:35px/**/; /* El mismo alto que el header nav */
	box-sizing:border-box;
	padding: 9px 15%;  /* 10px eje vertical y 20px eje horizontal*/
	display:block; /*hay que dejarlo explicito porque los enlaces por defecto <a> solo tienen padding hacia los costados, con esta modificacion hay padding en los 2 ejes*/
	color:#fff;
	text-decoration:none; /*Se elimina el subrayado de los enlaces*/
}

.nivel2 nav ul li a:hover { /*Cambio de estado cuando el cursor pasa por arriba del enlace sin clickearlo*/
/*	background:#75acec; */
	background:#ff4444;  
/*	background:#ff2020; */
}

.nivel2 .loginBar {
	width:43.5%;
	height:35px/**/;
	box-sizing:border-box;
	background:#585858;
	float:left;
}

.nivel2 .loginBar ul {
	width:100%;
	list-style:none;
	float:left;
}

.nivel2 .loginBar ul li {
	float:left;
	width:50%;
}

.nivel2 .loginBar ul li a {
	height:35px/**/;
	box-sizing:border-box;
	padding: 9px 15%;
	display:block;
	color:#fff;
	text-decoration:none;
}

.nivel2 .loginBar ul li a:hover {
	background:#868686;
}

