
.contenidoVentanaLogin .tituloVentanaLogin {
	margin-bottom:15px;
}

.contenidoVentanaLogin .tituloVentanaLogin  p {
	font-size:17px;
}

.contenidoVentanaLogin .contenedorLinea {
	width:100%;
	height:40px;
	box-sizing:border-box;
} 

.contenidoVentanaLogin .contenedorLinea input {
	box-sizing:border-box;
	border-radius:3px;
	height:30px;
	font-size:13px;
	margin-left:2px;
}

.contenidoVentanaLogin .contenedorLinea .contenedorLabel {
	width:100px;
	height:30px;
	float:left;
}

.contenidoVentanaLogin .contenedorLinea .contenedorLabel label {
	font-size:14px;
	display:block;
	text-align:right;
	margin-right:5px;
	margin-top:5px;
}

.contenidoVentanaLogin .contenedorLinea a {
	font-size:13px;
	margin-left:7px;
}

.contenidoVentanaLogin .buttLoginContenedor {
	height:30px;
	position:relative;
	left: 5%;
}

<<<<<<< HEAD
=======

>>>>>>> origin/ramaMiguel
.contenidoVentanaLogin .buttLoginContenedor  button {
	margin-left:110px;
	padding:4px 8px;
	border-radius:4px;
	font-size:14px;
	background-color:#bd0000;
	color:#fff;
	float:left;
	width:150px;
	height:30px;
}

.contenidoVentanaLogin .buttLoginContenedor button:hover {
	background:#ff0000;
}

.contenidoVentanaLogin .alert {
	
	font-size:17px;
	color:red;
	margin-top:5px;
}

.contenidoVentanaLogin .buttLoginContenedor .alertaFaltaContraseña {
	position:absolute;
	font-size:13px;
	color:red;
	margin-left:200px;
	margin-top:5px;
}

.contenidoVentanaLogin .footerVentanaLogin hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
	margin:12px auto;
}

.contenidoVentanaLogin .footerVentanaLogin p, .contenidoVentanaLogin .footerVentanaLogin a {
	font-size:13px;
	margin:auto 5px;
	display:inline;
}